<script>
  import MissionBoard from './mission-board.svx'
  import '../../../../essence/markdown.css'
</script>

<div style="max-width: 60%; margin: auto; padding-top: 1rem;">
    <MissionBoard />
</div>

