<script>
  import MissionBoard from './mission-board.svx'
  import '../../../../essence/markdown.css'
  import Navbar from "../navbar.svelte"
</script>

<div style="max-width: 60%; margin: auto; padding-top: 1rem;">
    <Navbar />
    <MissionBoard />
</div>

