## **Initiate**
_Each ability costs 1 talent point_

**Abilities:**
- **Expanded Explosion**: Your expertise in crafting explosives has improved the effectiveness of your bombs. When you create or use an explosive device, you increase its radius by 5 feet. For example, a bomb that normally affects a 10-foot radius now affects a 15-foot radius. This increased radius applies to all explosive effects you create, including those from your Improvised Explosives and any similar abilities. This ability’s range increases by 5 feet when you reach 9th Master level (10-foot), and by 10 feet 17th Great-Grandmaster level (20-foot).
- **Caustic Bomb**: As an action, you can create a powerful, improvised explosive from available materials. It deals 3d6 acid damage in a 10-foot radius on a failed Dexterity saving throw, or half as much on a successful save. You can use this ability once per long rest. This ability’s damage increases by 1d6 when you reach 5th Adept level (4d6), 9th Master level (5d6), 13th Grandmaster level (6d6), and 17th Great-Grandmaster level (7d6).
- **Alchemy Proficiency**: Gain proficiency in Alchemist’s Supplies. You can craft basic alchemical substances, such as acid flasks, potions of healing, and other simple concoctions.
- **Acidic Insight**: You have developed a keen understanding of acidic substances and their effects. You gain advantage on Intelligence (Arcana) and Wisdom (Nature) checks related to acids, alchemical reactions, and chemical processes. This knowledge allows you to identify and analyse unknown substances or toxins with ease.
- **Acidic Precision**: Your expertise with corrosive substances has honed your skill in turning everyday objects into deadly weapons. You gain proficiency with all thrown weapons and improvised thrown weapons.

**Cantrips:**
- [Acid Splash](https://5e.tools/spells.html#acid%20splash_phb)
- [Primal Savagery](https://5e.tools/spells.html#primal%20savagery_xge)

**1st Level Spells:**
- [Absorb Elements](https://5e.tools/spells.html#absorb%20elements_xge)
- [Chromatic Orb](https://5e.tools/spells.html#chromatic%20orb_phb)
- [Chaos Bolt](https://5e.tools/spells.html#chaos%20bolt_xge)

**2nd Level Spells:**
- [Melf's Acid Arrow ](https://5e.tools/spells.html#melf's%20acid%20arrow_phb)
- [Dragon's Breath](https://5e.tools/spells.html#dragon's%20breath_xge)

--- 
## **Adept**
**_Prerequisite: 5th level_**

_Each ability costs 2 talent points_

**Abilities:**
- **Acid Resistance**: Gain resistance to acid damage. You are unaffected by acidic environments and can handle corrosive substances without harm.
- **Chemical Expertise**: You can create more advanced alchemical mixtures, such as potent acid flasks or alchemical fire. You gain a +2 bonus to checks involving Alchemist’s Supplies and can create these mixtures in half the usual time.
- **Chaos Manipulation**: Once per long rest, you can cause a minor chaotic effect within 30 feet, such as causing objects to tremble, flicker, or shift unpredictably. The effect lasts for 1 minute and can create distractions or disorient opponents.
- **Explosive Savant**: When you use an explosive device or alchemical flask, its damage increases by an additional damage dice. Additionally, you can use such devices as a bonus action instead of an action.
- **Miasmic Cloud**: You can create a cloud of acidic mist in a 10-foot radius around you. Any creature that starts its turn within the cloud must make a Constitution saving throw or take 2d6 acid damage and be blinded until the end of its next turn. The cloud lasts for 1 minute and can be used once per long rest. This ability’s damage increases by 1d6 when you reach 9th Master level (3d6), 13th Grandmaster level (4d6), and 17th Great-Grandmaster level (5d6).
- **Acidic Embrace**: You can magically coat a weapon or object in a layer of corrosive acid. The weapon deals an additional 2d6 acid damage on a successful hit, and the object corrodes any non-magical material it touches. This effect lasts for 10 minutes and can be used once per long rest.

**3rd Level Spells:**
- [Elemental Weapon](https://5e.tools/spells.html#elemental%20weapon_phb)
- [Glyph of Warding](https://5e.tools/spells.html#glyph%20of%20warding_phb)
- [Hunger of Hadar](https://5e.tools/spells.html#hunger%20of%20hadar_phb)

**4th Level Spells:**
- [Vitriolic Sphere](https://5e.tools/spells.html#vitriolic%20sphere_xge)
- [Elemental Bane](https://5e.tools/spells.html#elemental%20bane_xge)

