## **Initiate**
_Each ability costs 1 talent point_

**Abilities**:
- **Gale Force Strike:** When you hit a creature smaller or larger than you with a melee attack, you can choose to create a gust of wind that pushes the creature 5 feet away from you. This effect can be used once per turn.
- **Misty Escape:** When you take damage, you can use your reaction to turn into a cloud of mist, causing the attack to miss. You must spend a spell slot of 1st level or higher to use this ability. Can be used once per short or long rest.
- **Mistbound Step:** The Misty Step spell does not consume a spell slot if you begin or end your movement in a heavily obscured area.
- **Misty Veil:** You can create a shroud of mist around you that obscures your appearance, granting advantage on Stealth checks to hide and disadvantage on Insight checks to discern your true intentions. This effect lasts for 1 hour and can be used once per long rest.
- **Wind Sprint:** You can double your movement speed for 1 minute. You must spend a short or long rest to use this ability again.
- **Thunderous Roar:** You can let out a powerful roar that creates a shockwave, forcing all creatures within 10 feet to make a Constitution saving throw or be pushed 10 feet away from you and become deafened for 1 minute. This ability can be used once per short or long rest.
- **Sound Analysis:** You can accurately determine the source and direction of any sound within 300 feet of you. This ability can be used to track creatures or detect hidden enemies. It provides you advantage on Wisdom (Perception) checks related to sound.

**Cantrips:**
- [Gust](https://5e.tools/spells.html#gust_xge) 
- [Thunderclap](https://5e.tools/spells.html#thunderclap_xge)

**1st Level Spells:**
- [Fog Cloud](https://5e.tools/spells.html#fog%20cloud_phb)
- [Feather Fall](https://5e.tools/spells.html#feather%20fall_phb)
- [Jump](https://5e.tools/spells.html#jump_phb)
- [Thunderwave](https://5e.tools/spells.html#thunderwave_phb)
- [Warding Wind](https://5e.tools/spells.html#warding%20wind_xge)

**2nd Level Spells:**
- [Misty Step](https://5e.tools/spells.html#misty%20step_phb)
- [Dust Devil](https://5e.tools/spells.html#dust%20devil_xge)
- [Gust of Wind](https://5e.tools/spells.html#gust%20of%20wind_phb)
- [Shatter](https://5e.tools/spells.html#shatter_phb)
- [Shatter](https://5e.tools/spells.html#shatter_phb)

---

## **Adept**
**_Prerequisite: 5th level_**

_Each ability costs 2 talent points_

**Abilities:**
- **Echoing Footsteps:** You can move with such speed and silence that your footsteps echo faintly. You gain advantage on Stealth checks, and creatures within 10 feet of you have disadvantage on Wisdom (Perception) checks to hear you. This effect lasts for 10 minutes.
- **Thunderstep:** You can use a bonus action to make a sudden, loud noise, creating a brief but intense thunderclap that can be heard up to 300 feet away. Creatures within 10 feet of you must make a Constitution saving throw or be stunned until the end of your next turn. This ability can be used once per short or long rest.
- **Calm Breeze:** You can use a bonus action to create a soothing breeze that relaxes and calms creatures within a 30-foot radius, providing them with advantage on saving throws against being frightened or charmed. This effect lasts for 10 minutes and can be used once per short or long rest.
- **Whispering Winds:** You can use your action to send a message carried by the wind to any creature within 1 mile of you. The message is heard as a whisper by the intended recipient. This ability allows for secret communications or covert information exchange.

**3rd Level Spells:**
- [Fly](https://5e.tools/spells.html#fly_phb)
- [Gaseous Form](https://5e.tools/spells.html#gaseous%20form_phb)
- [Stinking Cloud](https://5e.tools/spells.html#stinking%20cloud_phb)
- [Wind Wall](https://5e.tools/spells.html#wind%20wall_phb)
- [Haste](https://5e.tools/spells.html#haste_phb)
