## **Initiate**
_Each ability costs 1 talent point_

**Abilities:**
- **Echoes of the Deep:** You can communicate with aquatic creatures or spirits of water, allowing you to understand their language and gain information about underwater locations or hidden treasures. This ability lasts for 10 minutes and can be used once per short rest.
- **Ice Form:** As a bonus action, you can turn your body into ice for 1 minute. You gain resistance to cold and fire damage and your movement speed is reduced by 10 feet. You can use this ability once per long rest.
- **Raincaller:** You can call forth a light rain within a 20-foot radius centered on you for 10 minutes. This rain lightly obscures the area, granting disadvantage on Perception checks relying on sight and extinguishing small fires.
- **Restorative Rain:** You can call forth a light rain that provides a soothing effect. As an action, you create a 20-foot radius of rain that lasts for 10 minutes. Allies within the rain remove one level of exhaustion, and every round, they regain 1 hit point. Usable once per long rest.
- **Aqua Agility**: Your swimming speed equals your walking speed. Additionally, you gain the ability to breathe underwater and move through water at your normal speed without penalty.

**Cantrips:**
- [Acid Splash](https://5e.tools/spells.html#acid%20splash_phb)
- [Frostbite](https://5e.tools/spells.html#frostbite_xge)
- [Ray of Frost](https://5e.tools/spells.html#ray%20of%20frost_phb)
- [Shape Water](https://5e.tools/spells.html#shape%20water_xge)

**1st Level Spells:**
- [Create or Destroy Water](https://5e.tools/spells.html#create%20or%20destroy%20water_phb)
- [Detect Poison and Disease](https://5e.tools/spells.html#detect%20poison%20and%20disease_phb)
- [Fog Cloud](https://5e.tools/spells.html#fog%20cloud_phb)
- [Grease](https://5e.tools/spells.html#grease_phb)
- [Ice Knife](https://5e.tools/spells.html#ice%20knife_xge)

**2nd Level Spells:**
- [Melf's Acid Arrow](https://5e.tools/spells.html#melf's%20acid%20arrow_phb)
- [Protection from Poison](https://5e.tools/spells.html#protection%20from%20poison_phb)
- [Snilloc's Snowball Swarm](https://5e.tools/spells.html#snilloc's%20snowball%20swarm_xge)
- [Misty Step](https://5e.tools/spells.html#misty%20step_phb)

---

## **Adept**
**_Prerequisite: 5th level_**

_Each ability costs 2 talent points_

**Abilities:**
- **Tide of Emotions:** By channelling the ebb and flow of water, you can influence the emotions of others within a 30-foot radius. Choose one emotion (calm, fear, or joy); affected creatures must succeed on a Wisdom saving throw or be overwhelmed by that emotion for 1 hour. Usable once per long rest.
- **Tidal Surge:** You can summon a powerful wave of water that heals and revitalizes. As an action, you create a wave that washes over allies in a 30-foot radius, restoring hit points equal to 3d8 + your spellcasting ability modifier. This wave also removes one condition affecting allies (charmed, frightened, or poisoned). Usable once per long rest. This ability’s healing increases by 1d8 when you reach 9th Master level (4d8), 11th Grandmaster level (5d8), and 17th Great-Grandmaster level (6d8).
- **Frozen Insight:** You can temporarily turn your thoughts into ice, allowing you to gain deep insight into a complex problem or puzzle. For 1 hour, you gain advantage on Intelligence checks related to solving mysteries or understanding arcane knowledge.
- **Rain of Revelation:** You can summon a gentle, magical rain that grants clarity and insight to those who stand in it. Allies within a 20-foot radius can ask one question about their future or destiny, and you provide a vague but helpful answer based on your understanding of the world.
- **Glacial Shield:** As a reaction, you can spend one spell slot and encase yourself in a barrier of ice, granting you temporary hit points equal to twice your spellcasting ability modifier + your spell level. This lasts for 1 minute. Usable once per long rest.
- **Hydroportation:** You can teleport up to 60 feet to a space you can see within a body of water or mist. You must be in contact with the water or mist to use this ability. Can be used once per long rest.
- **Surface Strider**: You can walk on the surface of water and you gain advantage on Dexterity (Acrobatics) checks to maintain your balance while walking on slippery or unstable surfaces.

**3rd Level Spells:**
- [Sleet Storm](https://5e.tools/spells.html#sleet%20storm_phb)
- [Tidal Wave](https://5e.tools/spells.html#tidal%20wave_xge)
- [Wall of Water](https://5e.tools/spells.html#wall%20of%20water_xge)
- [Water Breathing](https://5e.tools/spells.html#water%20breathing_phb)
- [Water Walk](https://5e.tools/spells.html#water%20walk_phb)

**4th Level Spells:**
- [Control Water](https://5e.tools/spells.html#control%20water_phb)
- [Ice Storm](https://5e.tools/spells.html#ice%20storm_phb)
- [Vitriolic Sphere](https://5e.tools/spells.html#vitriolic%20sphere_xge)
- [Watery Sphere](https://5e.tools/spells.html#watery%20sphere_xge)


