## **Initiate**
_Each ability costs 1 talent point_

**Abilities:**
- **Vine Manipulation:** You gain the ability to manipulate vines and roots within 30 feet of you. As an action, you can cause vines to emerge from the ground or surrounding vegetation to ensnare a creature or create barriers. The vines can grapple or restrain a creature (Strength saving throw) or create difficult terrain in a 10-foot square area for 1 minute.
- **Verdant Armor**: As an action, you can envelop yourself in a protective layer of magically enhanced bark and vines. For the next hour, you gain temporary hit points equal to 1d8 + your proficiency bonus. Additionally, you have resistance to bludgeoning, slashing and piercing damage. 
- **Fertile Ground Resilience**: When you are standing on or above fertile soil (such as grasslands, forests, or similar natural terrain), you can use your reaction to gain immunity to effects that would knock you prone or push you away. Additionally, while on such terrain, you gain advantage on saving throws against being grappled or restrained.
- **Thorny Defense:** When a creature hits you with a melee attack, you can use your reaction to cause thorns to erupt from your skin. The attacker takes 1d4 piercing damage. You can use this feature a number of times equal to your proficiency bonus, and regain all expended uses after a long rest.
-  **Woodcraft:** You gain proficiency with woodcarver’s tools and the ability to craft simple wooden items. You can create small wooden objects (e.g., a carved figurine, a simple tool) in 1 hour, provided you have access to suitable materials. You can also use your tools to make minor repairs to wooden objects.


**Cantrips:**
- [Thorn whip](https://www.dandwiki.com/wiki/Thorn_Whip_(5e_1Spell) "Thorn Whip (5e Spell)")
- [Shillelagh](https://www.dandwiki.com/wiki/Shillelagh_(5e_Spell) "Shillelagh (5e Spell)")
- [Poison spray](https://www.dandwiki.com/wiki/Poison_Spray_(5e_Spell) "Poison Spray (5e Spell)")

**1st Level Spells:**
- [Purify food and drink](https://www.dandwiki.com/wiki/Purify_Food_and_Drink_(5e_Spell) "Purify Food and Drink (5e Spell)")
- [Animal friendship](https://www.dandwiki.com/wiki/Animal_Friendship_(5e_Spell) "Animal Friendship (5e Spell)")
- [Entangle](https://www.dandwiki.com/wiki/Entangle_(5e_Spell) "Entangle (5e Spell)")
- [Find familiar](https://www.dandwiki.com/wiki/Find_Familiar_(5e_Spell) "Find Familiar (5e Spell)")
- [Goodberry](https://www.dandwiki.com/wiki/Goodberry_(5e_Spell) "Goodberry (5e Spell)")
- [Speak with animals](https://www.dandwiki.com/wiki/Speak_with_Animals_(5e_Spell) "Speak with Animals (5e Spell)")
- [Unseen servant](https://www.dandwiki.com/wiki/Unseen_Servant_(5e_Spell) "Unseen Servant (5e Spell)")

**2nd Level Spells:**
- [Pass without trace](https://www.dandwiki.com/wiki/Pass_without_Trace_(5e_Spell) "Pass without Trace (5e Spell)")
- [Lesser restoration](https://www.dandwiki.com/wiki/Lesser_Restoration_(5e_Spell) "Lesser Restoration (5e Spell)")
- [Animal messenger](https://www.dandwiki.com/wiki/Animal_Messenger_(5e_Spell) "Animal Messenger (5e Spell)")
- [Barkskin](https://www.dandwiki.com/wiki/Barkskin_(5e_Spell) "Barkskin (5e Spell)")
- [Find steed](https://www.dandwiki.com/wiki/Find_Steed_(5e_Spell) "Find Steed (5e Spell)")
- [Locate animals or plants](https://www.dandwiki.com/wiki/Locate_Animals_or_Plants_(5e_Spell) "Locate Animals or Plants (5e Spell)")
- [Spike growth](https://www.dandwiki.com/wiki/Spike_Growth_(5e_Spell) "Spike Growth (5e Spell)")

