<script>
  import '../../essence/markdown.css'
  import Bloodrager from './bloodrager.svx'
  import Navbar from '../navbar.svelte';
</script>

<div style="max-width: 60%; margin: auto; padding-top: 1rem;">
    <Navbar />
    <Bloodrager />
</div>
