<script>
  import '../../essence/markdown.css'
  import Herbolarium from './herbolarium.svx'
  import Navbar from '../Navbar.svelte';
</script>

<div style="max-width: 60%; margin: auto; padding-top: 1rem;">
    <Navbar />
    <Herbolarium />
</div>

