<script>
  import '../../essence/markdown.css'
  import Rules from './rules.svx'
  import Navbar from '../Navbar.svelte';
</script>

<div style="max-width: 60%; margin: auto; padding-top: 1rem;">
    <Navbar />
    <Rules />
</div>

