@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    font-family: system-uiarial, helvetica, sans-serif;
    font-size: 14pt;
    padding: 1vh 1vw;
}
