<script>
  import './markdown.css'
</script>

<div style="max-width: 60%; margin: auto; padding-top: 1rem;">
    <h1>Essence</h1>
    <ul>
        <li><h2><a href="continents/phudara/tribe-llamarada">Tribe Llamarada</a></h2></li>
        <li><h2><a href="continents/phudara/tribe-lluvia">Tribe Lluvia</a></h2></li>
        <li><h2><a href="continents/phudara/tribe-espora">Tribe Espora</a></h2></li>
    </ul>
</div>


<style>
</style>
